
	<!--公告 -->
	
	<div id="gy_guide_safety_xzk">
		<div class="px1000">
			<div class="gy_guide_index_xzk_header" style="margin-bottom:20px;">
				<img src="images/gy_guide_index_xzk_picx.png"/>
				<span><a href="">首页</a></span>
				>
				<span><a href="">关于我们</a></span>
			</div>
		</div>
		<div class="px1000" id="gy_guide_announcement">
			<div class="clearfix gy_guide_announcement_bigbox">
				<div class="fl gy_guide_announcement_left">
					<nav>
						<p class="gy_member_submenu_zc"><a href="#/register">立即注册</a></p>
					</nav>
				</div>

				<!--split line-->
				<!--公司简介-->
				<div class="fl gy_guide_announcement_rigth" id="gsjj" style="display:block;text-align:left;">
					<p class="gy_guide_announcement_r_header">公司简介</p>
					<div class="gy_guide_announcement_rigth_cpup">
						<p class="gy_guide_ant_rh_tu_mian">
							<span class="gy_guide_ant_rh_tu">&nbsp;</span>
							<span>意零（上海）金融信息服务有限公司</span>
						</p>
						<img src="images/gy_guide_announcement_r_header_up_picture.png">
						<div class="gy_gunt_rigth_context_main">
							意零（上海）金融信息服务有限公司位于中国（上海）陆家嘴金融贸易区严家桥路1号3号楼5F,交通便利。意零（上海）金融信息服务有限公司本着“客户第一，诚信至上”的原则，欢迎国内外企业/公司/机构与本单位建立长期的合作关系。热诚欢迎各界朋友前来参观、考察、洽谈业务。陈海波代表意零（上海）金融信息服务有限公司欢迎新老客户来电咨询。
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
