<!--公告 -->

<div id="gy_guide_safety_xzk">
	<div class="px1000" id="gy_guide_announcement">
		<div class="clearfix gy_guide_announcement_bigbox">
			<div class="fl gy_guide_announcement_left">
				<nav>
					<p class="gy_member_submenu_zc">
						<a href="">用户中心</a>
					</p>
				</nav>
				<ul style="text-align: center;height: 200px;">
					<li>
						<p class="btn user-left" ng-click="toChangeView(1)">
							<a href="">我的订单</a>
						</p>
					</li>
					<li>
						<p class="btn user-left" ng-click="toChangeView(2)">
							<a href="">用户管理</a>
						</p>
					</li>
				</ul>
			</div>
			
			<!--split line-->
			<div class="fl gy_guide_announcement_rigth" id="" style="display:block;text-align:left;height: 100%;" ng-show="tabshow=='1'">
				<div class="col-sm-20">
					<table class="table table-striped">
						<tbody>
							<thead>
								<tr>
									<th>订单号</th>
									<th>产品名称</th>
									<th>购买金额</th>
									<th>购买日期</th>
									<th>周期</th>
									<th>订单状态</th>
		
								</tr>
							</thead>
							<tr ng-repeat="order in orderList">
								<td>{{order.orderid}}</td>
								<td>{{order.pid.name}}</td>
								<td>{{order.payAmount}}元</td>
								<td>{{order.created | date:"yyyy/MM/dd"}}</td>
								<td>{{order.pid.week}}天</td>
								<td>{{order.status | orderStatus}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

			<!--split line-->
			<div class="fl gy_guide_announcement_rigth" id="" style="display:block;text-align:left;height: 100%;" ng-show="tabshow=='2'">
				<div class="col-sm-20">
					<table class="table table-striped">
						<tbody>
							<thead>
								<tr>
									<th>手机号</th>
									<th>姓名名</th>
									<th>联系方式</th>
									<th>注册日期</th>									
								</tr>
							</thead>
							<tr ng-repeat="user in userList">
								<td>{{user.username}}</td>
								<td>{{user.name}}</td>
								<td>{{user.email}}</td>	
								<td>{{user.created | date:'yyyy-MM-dd hh:mm:ss'}}</td>								
							</tr>
						</tbody>
					</table>
				</div>
			</div>

			
		</div>
	</div>
</div>

<style>
	.user-left {
		font-size: 16px;
		line-height: 30px;
		color: #003147;
	}
	td a{
		color: #03a9f4;
		font-weight: bold;
	}
</style>