<!--公告 -->

<div id="gy_guide_safety_xzk">
	<div class="px1000" id="gy_guide_announcement">
		<div class="clearfix gy_guide_announcement_bigbox">
			<div class="fl gy_guide_announcement_left">
				<nav>
					<p class="gy_member_submenu_zc">
						<a href="">用户中心</a>
					</p>
				</nav>
				<ul style="text-align: center;height: 200px;">
					<li>
						<p class="btn user-left" ng-click="toChangeView(1)">
							<a href="">理财产品</a>
						</p>
					</li>
					<li>
						<p class="btn user-left" ng-click="toChangeView(3)">
							<a href="">指数产品</a>
						</p>
					</li>
					<li>
						<p class="btn user-left" ng-click="toChangeView(4)">
							<a href="">赎回管理</a>
						</p>
					</li>
					<li>
						<p class="btn user-left" ng-click="toChangeView(2)">
							<a href="">用户管理</a>
						</p>
					</li>
					<li>
						<p class="btn user-left" ng-click="toChangeView(6)">
							<a href="">利率控制</a>
						</p>
					</li>
				</ul>
			</div>
			
			<!--split line-->
			<div class="fl gy_guide_announcement_rigth" id="" style="display:block;text-align:left;height: 100%;" ng-show="tabshow=='1'">
				<div class="col-sm-20">
					<table class="table table-striped">
						<tbody>
							<thead>
								<tr>
									<th>订单号</th>
									<th>产品名称</th>
									<th>购买金额</th>
									<th>购买日期</th>
									<th>周期</th>
									<th>订单状态</th>
		
								</tr>
							</thead>
							<tr ng-repeat="order in orderList">
								<td>{{order.orderid}}</td>
								<td>{{order.pid.name}}</td>
								<td>{{order.payAmount}}元</td>
								<td>{{order.created | date:"yyyy/MM/dd"}}</td>
								<td>{{order.pid.week}}天</td>
								<td>{{order.status | orderStatus}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

			<!--split line-->
			<div class="fl gy_guide_announcement_rigth" id="" 
			style="display:block;text-align:left;height: 100%;" ng-show="tabshow=='3'">
				<div class="col-sm-20">
					<table class="table table-striped">
						<tbody>
							<thead>
								<tr>
									<th>订单号</th>
									<th>产品名称</th>
									<th>购买金额</th>
									<th>购买日期</th>
									<th>订单状态</th>
								</tr>
							</thead>
							<tr ng-repeat="order in sorderList">
								<td>{{order.orderid}}</td>
								<td>{{order.pid.name}}</td>
								<td>{{order.payAmount}}元</td>
								<td>{{order.created | date:"yyyy/MM/dd"}}</td>
								<td ng-if="order.status!='0'">{{order.status | orderStatus}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

			<!--split line-->
			<div class="fl gy_guide_announcement_rigth" id="" style="display:block;text-align:left;height: 100%;" ng-show="tabshow=='2'">
				<div class="col-sm-20">
					<table class="table table-striped">
						<tbody>
							<thead>
								<tr>
									<th>手机号</th>
									<th>姓名名</th>
									<th>联系方式</th>
									<th>注册日期</th>									
								</tr>
							</thead>
							<tr ng-repeat="user in userList">
								<td>{{user.username}}</td>
								<td>{{user.name}}</td>
								<td>{{user.email}}</td>	
								<td>{{user.created | date:'yyyy-MM-dd hh:mm:ss'}}</td>								
							</tr>
						</tbody>
					</table>
				</div>
			</div>

			<!--split line-->
			<div class="fl gy_guide_announcement_rigth" id="" 
			style="display:block;text-align:left;height: 100%;" ng-show="tabshow=='4'">
				<div class="col-sm-20">
					<table class="table table-striped">
						<tbody>
							<thead>
								<tr>
									<th>订单号</th>
									<th>产品名称</th>
									<th>订单金额</th>
									<th>赎回金额</th>
									<th>赎回状态</th>
									<th>操作</th>
								</tr>
							</thead>
							<tr ng-repeat="order in backorderList">
								<td>{{order.orderid}}</td>
								<td>{{order.product}}</td>
								<td>{{order.payAmount}}元</td>
								<td style="color:#20b326">{{order.openAmount}}元</td>
								<td>{{order.openStatus | backStatus}}</td>
								<td>
									<button class="btn btn-primary" ng-click="backDetail(order)">
									 	详情
									</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

			<!--split line-->
			<div class="fl gy_guide_announcement_rigth" id="sss" style="display:block;text-align:left;height: 100%;" ng-show="tabshow=='5'">
				<div class="col-sm-20">
					<table class="table">
						<tbody>
							<tr>
								<td>用户名</td>
								<td>{{backOrder.user.username}}</td>
								<td></td>
							</tr>
							<tr>
								<td>姓名</td>
								<td>{{backOrder.user.name}}</td>
								<td></td>
							</tr>
							<tr>
								<td>手机号</td>
								<td>{{backOrder.user.username}}</td>
								<td></td>
							</tr>
							<tr>
								<td>身份证</td>
								<td>{{backOrder.user.idcard}}</td>
								<td></td>
							</tr>
							<tr>
								<td>产品名称</td>
								<td>{{backOrder.product}}</td>
								<td></td>
							</tr>
							<tr>
								<td>订单号</td>
								<td>{{backOrder.orderid}}</td>
								<td></td>
							</tr>
							<tr>
								<td>订单金额</td>
								<td>{{backOrder.payAmount}}</td>
								<td></td>
							</tr>
							<tr>
								<td>赎回金额</td>
								<td>{{backOrder.openAmount}}</td>
								<td class="danger">*请人工计算核实一遍</td>
							</tr>
							<tr>
								<td>转入支付宝账号</td>
								<td>
									<input type="text" ng-model="backOrder.account">
								</td>
								<td class="danger">若客户账号变动可进行修改</td>
							</tr>
							<tr>
								<td>资金账号</td>
								<td>{{backOrder.companyAccount}}</td>
								<td></td>
							</tr>
							<tr>
								<td>转入流水号</td>
								<td>
									<input type="text" 
									placeholder="请输入交易流水号" 
									ng-model="backOrder.tradeno">
								</td>
								<td></td>
							</tr>
							<tr>
								<td>申请赎回时间</td>
								<td>{{backOrder.created | date:"yyyy/MM/dd HH:mm"}}</td>
								<td></td>
							</tr>
							<tr>
								<td>赎回状态</td>
								<td>{{backOrder.openStatus | backStatus}}</td>
								<td></td>
							</tr>
							<tr>
								<td>财务打款时间</td>
								<td>{{backOrder.findate | date:"yyyy/MM/dd HH:mm"}}</td>
								<td></td>
							</tr>
							<tr>
								<td></td>
								<td ng-if="backOrder.openStatus!=1">
									<button id="register" 
									class="btn btn-primary" 
									ng-click="confirmPay(backOrder)"
									style="width:200px;"
									data-loading-text="处理中..." 
					   				type="button"> 
					   					确认打款
						   			</button>
								</td>
								<td></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

			<!--split line-->
			<div class="fl gy_guide_announcement_rigth" id="" 
			style="display:block;text-align:left;height: 100%;" ng-show="tabshow=='6'">
				<div class="col-sm-20">
					<table class="table table-striped">
						<tbody>
							<thead>
								<tr>
									<th>利率控制</th>
									<th></th>
									<th>操作</th>
									<th></th>
								</tr>
							</thead>
							<tr>
								<td>
									<input type="number" class="form-control" placeholder="请输入小数利率：如0.5" ng-model="vo.rate">
								</td>
								<td></td>
								<td>
									<button class="btn btn-primary" 
									ng-click="setRate()">
									 	设置
									</button>
								</td>
								<td></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			
		</div>
	</div>
</div>

<style>
	.user-left {
		font-size: 16px;
		line-height: 30px;
		color: #003147;
	}
	td a{
		color: #03a9f4;
		font-weight: bold;
	}
</style>