<script type="text/javascript" src="lib/app/all.js"></script>

<!--公告 -->

<div id="gy_guide_particulars_xzk">
	<div class="px1000">
		
	</div>
	<div class="px1000">
		<div class="gy_guide_particulars_information">
			<div class="gy_guide_particulars_information_main clearfix">
				<h2>陆家嘴比特币一号</h2>
				<p><label>发售时间</label> <span style="color:#2196f3"> 5月5日起售，发售完毕后计息</span></p>
				<!-- <p><label>募集进度</label> <span style="">{{percenter}}%</span></p> -->
				<p><label>起购金额</label> <span style="font-size: 16px;color:#ff5d5b !important"> 5000元</span></p>
				<p><label>本周收益利率</label> <span style="font-size: 16px">今日收益{{order.rate}}%</span></p>			
				<hr>
				<p>
					<label style="font-size: 16px">买入金额</label>
					<span><input 
							ng-model="order.payAmount"
							type="number" style="width:145px" placeholder="请输入购买金额">&nbsp;元</span>
				</p>
				<p style="margin: 10px 0">
					<button class="btn btn-primary" 
						id="register"
						style="width:300px;"
		   				type="button"> 
		   				已售罄
		   			</button>
				</p>

			</div>
		</div>
		
		<div class="gy_guide_particulars_information">
			<p class="gy_guide_particulars_information_header">产品介绍</p>
			<div class="gy_guide_particulars_information_main clearfix">
				<div style="border-top:1px solid #E6E6E6;" class="fl particulars_information_footer">
					<div>
						<p>
							陆家嘴比特币一号是一款面向比特币客户的专业投资项目具有低风险高收益等特点
						</p>
						<p>投资资产为前五大市值的数字货币:BTC，ETH，LTC，ETC，ZCASH</p>
						<p>
					 
							 比特币上一年度行情 
						</p>
						<p>
				
							2016年2月29日报价2440.83元
						</p>
						<p>
				
							2017年2月27日报价7939元
						</p>
						<p>
				
							飙升325%, 其中上一年度，本产品盈利超过500%
						</p>
					</div>
				</div>
			</div>
		</div>
		
		<div class="gy_guide_particulars_information">
			<p class="gy_guide_particulars_information_header">起投金额</p>
			<div class="gy_guide_particulars_information_main clearfix">
				<div style="border-top:1px solid #E6E6E6;" class="fl particulars_information_footer">
					<div>
						<p>
							5000元起投
						</p>
					</div>
				</div>
			</div>
		</div>
		
		<div class="gy_guide_particulars_information">
			<p class="gy_guide_particulars_information_header">投资结构</p>
			<div class="gy_guide_particulars_information_main clearfix">
				<div style="border-top:1px solid #E6E6E6;" class="fl particulars_information_footer">
					<div>
						<p>
							40%为短期套利业务<br>
							60%为长期持币业务
						</p>
					</div>
				</div>
			</div>
		</div>		

		<div class="gy_guide_particulars_information">
			<p class="gy_guide_particulars_information_header">预期收益率</p>
			<div class="gy_guide_particulars_information_main clearfix">
				<div style="border-top:1px solid #E6E6E6;" class="fl particulars_information_footer">
					<div>
						<p>
							100%或不低于本年度比特币自身涨幅，上一年度的升级幅度为325%
						</p>
					</div>
				</div>
			</div>
		</div>	

		<div class="gy_guide_particulars_information">
			<p class="gy_guide_particulars_information_header">收益分配方式</p>
			<div class="gy_guide_particulars_information_main clearfix">
				<div style="border-top:1px solid #E6E6E6;" class="fl particulars_information_footer">
					<div>
						<p>
				 			浮动收益，到期结算赎回
						</p>
					</div>
				</div>
			</div>
		</div>
	
		<div class="gy_guide_particulars_information">
			<p class="gy_guide_particulars_information_header">管理费</p>
			<div class="gy_guide_particulars_information_main clearfix">
				<div style="border-top:1px solid #E6E6E6;" class="fl particulars_information_footer">
					<div>
						<p>
				
							本产品受托管理人收取5%资金作为基金运营费，并收取盈利部分的20%作为奖金
						</p>
					</div>
				</div>
			</div>
		</div>


	</div>
	<style>
		.gy_guide_particulars_information_main{
			padding-left: 50px;
		}
		h2{
			margin: 21px 0;
		}
		.gy_guide_particulars_information label{
			color: #9e9e9e;
			margin:8px 0;
			font-size: 13px;
		}
		.gy_guide_particulars_information span{
			font-size: 18px;
			margin:8px 20px;
		}


		.gy_guide_particulars_information_main h2{
			font-size: 28px;
		    font-weight: normal;
		    color: #404040;
		    display: inline-block;
		    vertical-align: middle;
		}
		.gy_guide_particulars_information_header{
			width: 195px;
		}
		P{
		    font-size: 16px;
		    color: #000;
		}

		.btn-primary {
		    color: #fff;
		    background-color: #FF9800;
		    border-color: #FF9800;
		    font-size: 24px;
		}

		
	</style>
