
	<div id="gy_bargain_red_bag">
		<div class="px1000 gy_bargain_red_bagsd" >
			 <div class="gy_bargain_red_bag_div">
				
			</div>
		</div>
	</div>
		<div class="flexslider">
			<ul class="slides">
			    <li style="background:url(images/banner2.png) no-repeat center; background-size:100% auto;"></li>
				<li style="background:url(images/banner3.png) no-repeat center; background-size:100% auto;"></li>
				<li style="background:url(images/banner1.png) no-repeat center; background-size:100% auto;"></li>
				<li style="background:url(images/banner4.jpg) no-repeat center; background-size:100% auto;"></li>
			</ul>
		</div>
		
		<!--<div class="flexheader">
			<ul class="slides">
			    <li style="background:url(images/banner2.png) no-repeat center; background-size:100% auto;"></li>
			    <li style="background:url(images/banner3.png) no-repeat center; background-size:100% auto;"></li>
			    <li style="background:url(images/banner1.png) no-repeat center; background-size:100% auto;"></li>
			    <li style="background:url(images/banner4.png) no-repeat center; background-size:100% auto;"></li>
			</ul>
		</div>-->

	
	<script type="text/javascript">
		$(document).ready(function(){
		$('.flexslider').flexslider({
			directionNav: true,
			pauseOnAction: false
		});
	});
	</script>

	
	<div id="gy_guide_goverfirm_debt">
		<div class="px1000">
			<div class="gy_guide_gf_de_main_vbc clearfix">
				<div class="fl">
					<div class="gy_guide_gf_onetwo">
						<div class="fl gy_guide_gf_thrch">
							<p class="gy_guide_gf_poing">热门畅销</p>
							<p class="title">陆家嘴超级比特币一号</p>
							<p><span class="gy_guide_gf_sz">100</span>
							<span class="gy_guide_gfc_bfh">%</span>
							预期收益
							</p>
							<p class="gy_guide_gf_cnima">浮动收益，到期结算赎回</p>
							<br>
							<!-- <p style="padding-top:30px;">正在募集</p> -->
							<div class="gy_treasur_bg3">
								<div class="gy_treasur_bg2" style="width:100%;background-color:#29A7E1;">
								</div>
							</div>
							<div><span class="gy_guide_gf_cnidie">火爆开启</div>
							<div class="gy_guide_gf_cnidie_ljtbst">
								<div class="gy_guide_gf_cnidie_ljtbs">
									<a href="" ui-sref="btc1">立即抢购</a>
								</div>
							</div>
							
						</div>

						<!-- <div class="fl gy_guide_gf_thrch">
							<p class="gy_guide_gf_cnima forwell">敬请期待</p>	
						</div> -->
					</div>
				</div>

				<!-- <div class="fl">
					<div class="gy_guide_gf_threefour">
						<div class="fl gy_guide_gf_thrch">
							<p class="gy_guide_gf_cnima forwell">敬请期待</p>
						</div>
						<div class="fl  gy_guide_gf_thrch" >
							<p class="gy_guide_gf_cnima forwell">敬请期待</p>
						</div>
					
				  </div>
				</div> -->
			</div>
		</div>
	</div>

	<div ng-repeat="(index, product) in productList">
		<div id="gy_treasure_xszx_bids">
			<div class="gy_treasure_xsbid_masin px1000 clearfix">
				<div class="">
					<div class="gy_treasure_xsbid_left fl">
						<div class="gy_treasure_xsbid_left_up">
							<div class="fl gy_caifu_oone" >
								<p class="gy_treasure_ccp_bid">
									<span class="">{{product.name}}</span>
									<span><img src="images/gy_treasure_xszx_bid_hot.png"></span>
								</p>
								<p class="gy_treasure_bili_bid">
									<span>{{product.shouyi}}</span>
									<span style="font-size:20.49px;">%</span>
								</p>
								<p>年化收益率</p>
							</div>
							<div class="fl gy_caifu_oont">
								<p class="gy_treasure_bili_bid">{{product.week}}</p>
								<p>比特币产品封闭期限（天）</p>
							</div>
						</div>
						<div class="fl">
							<div class="gy_treasure_xsbid_down">
								<span class="gy_treasure_x_cp">起投金额：{{product.join}}</span>
								<span class="gy_treasure_x_cp">付息方式：到期付息还本</span>
								<span class="gy_treasure_x_cp">赎回方式：T+0， 投资满{{product.week}}天即可申请赎回</span>
							</div>
						</div>
						<div class="fl">
							<div class="gy_treasure_xsll_down">
								<span class="gy_treasure_xsll_cp"></span>
							</div>
						</div>
					</div>
					<div class="gy_treasure_xsbid_r_rdo fr" id="gy_treasure_xsbid_r_pos">
						<div class="gy_treasure_xsbid_r_rping" style="height:160px;">
							<!-- <input type="text" value="输入金额" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '输入金额';}"/> -->
							<img src="images/gy_treasure_small_bgt.png">
							<!-- <input type="text" value="预期收益" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '预期收益';}"/> -->
							<div class="gy_treasure_xsbid_down_tbmain"
								ng-click="goOrder(product.pid)">
								<a href="">
									<p class="gy_treasure_xsbid_down_tb">
									立即投资
									</p>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

<script type="text/javascript">
	function guideone(){
		document.getElementById("gy_guide_staten_xkds2").style.display="block";
		document.getElementById("gy_guide_staten_xkds5").style.display="none";
		document.getElementById("gy_guide_sarter1").style.background="url(images/gy_guide_sarter1.png) no-repeat";
		document.getElementById("gy_guide_sarter2").style.background="url(images/gy_guide_sarter2.png) no-repeat";
		document.getElementById("gy_guide_sarter1").style.color="#089ADC";
		document.getElementById("gy_guide_sarter2").style.color="#A2A2A2";
		document.getElementById("gy_guide_sarter1").style.padding="12px 35px 2px 35px";
		document.getElementById("gy_guide_sarter2").style.padding="12px 35px 1px 35px";
	}
	function guidetwo(){
		document.getElementById("gy_guide_staten_xkds2").style.display="none";
		document.getElementById("gy_guide_staten_xkds5").style.display="block";
		document.getElementById("gy_guide_sarter1").style.background="url(images/gy_guide_sarter2.png) no-repeat";
		document.getElementById("gy_guide_sarter2").style.background="url(images/gy_guide_sarter1.png) no-repeat";
		document.getElementById("gy_guide_sarter2").style.color="#089ADC";
		document.getElementById("gy_guide_sarter1").style.color="#A2A2A2";
		document.getElementById("gy_guide_sarter2").style.padding="12px 35px 2px 35px";
		document.getElementById("gy_guide_sarter1").style.padding="12px 35px 1px 35px";
	}
</script>
<style type="text/css">
	.f1{
		padding-left: 20px;
	}
	.gy_treasure_bili_bid {
    	padding-left: 40px;
	}
	#gy_guide_goverfirm_debt {
	    height: 100%;
	}
	.gy_guide_gf_poing{
		background: #ff5f53;
		color: #fff;
		font-weight: bold;
		font-size: 18px;
		line-height: 30px;
	}
	.title{
		margin-left: -80px;
		font-weight: bold;
		font-size: 16px;
   		padding-left: 12px
	}	
	.forwell{
		padding-top: 100px;
	    height: 330px;
		color: #ddd;
	}

</style>
</body>
</html>
