<!--公告 -->

<div id="gy_guide_safety_xzk">
	<div class="px1000" id="gy_guide_announcement">
		<div class="clearfix gy_guide_announcement_bigbox">
			<div class="fl gy_guide_announcement_left">
				<nav>
					<p class="gy_member_submenu_zc">
						<a href="">用户中心</a>
					</p>
				</nav>
				<ul style="text-align: center;height: 200px;">
					<li>
						<p class="btn user-left" ng-click="toChangeView(1)">
							<a href="">用户信息</a>
						</p>
					</li>
<!-- 					<li>
						<p class="btn user-left" ng-click="toChangeView(2)">
							<a href="">我的资金</a>
						</p>
					</li> -->
					<li>
						<p class="btn user-left" ng-click="toChangeView(3)">
							<a href="">我的订单</a>
						</p>
					</li>
				</ul>
			</div>
			<!--split line-->
			<div class="fl gy_guide_announcement_rigth" id="gsjj" style="display:block;text-align:left;height: 100%;" ng-show="tabshow=='1'">
				<div class="col-sm-20">
					<table class="table">
						<tbody>
							<tr>
								<td>用户名</td>
								<td>{{user.username}}</td>
							</tr>
							<tr>
								<td>登录密码</td>
								<td><button class="btn btn-primary" ng-click="toChangeView(4)">修改密码</button></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<!--split line-->
			<div class="fl gy_guide_announcement_rigth" id="sss" style="display:block;text-align:left;height: 100%;" ng-show="tabshow=='2'">
				<div class="col-sm-20">
					<table class="table table-striped">
						<tbody>
							<tr>
								<td>当前总资产</td>
								<td>200000元</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<!--split line-->
			<div class="fl gy_guide_announcement_rigth" id="" style="display:block;text-align:left;height: 100%;" ng-show="tabshow=='3'">
				<div class="col-sm-20">
					<table class="table table-striped">
						<tbody>
							<thead>
								<tr>
									<th>订单号</th>
									<th>产品名称</th>
									<th>购买金额</th>
									<th>购买日期</th>
									<th>周期</th>
									<th>收益率</th>
							<!-- 		<th>到期本息收益</th> -->
									<th>订单状态</th>
									<th>操作</th>
								</tr>
							</thead>
							<tr ng-repeat="order in orderList">
								<td>{{order.orderid}}</td>
								<td>{{order.pid.name}}</td>
								<td>{{order.payAmount}}元</td>
								<td>{{order.created | date:"yyyy/MM/dd"}}</td>
								<td>{{order.pid.week}}天</td>
								<td>{{order.pid.shouyi}}%</td>
								<!-- <td>{{order.openAmount}}元</td> -->
								<td ng-if="order.status=='0'"><a href="#/placeorder/{{order.orderid}}">{{order.status | orderStatus}}</a></td>
								<td ng-if="order.status!='0'">{{order.status | orderStatus}}</td>
								<td><button class="btn btn-danger" ng-if="order.status=='0'" ng-click="cancelOrder(order.orderid)">取消订单</button></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

			<!--split line-->
			<div class="fl gy_guide_announcement_rigth" id="sss" style="display:block;text-align:left;height: 100%;" ng-show="tabshow=='4'">
				<div class="col-sm-5">
					<div class="input-group">
						<span class="input-group-addon">新 密 码</span>
						<input ng-model="update.oldpwd" type="password" class="form-control" placeholder="请输入新密码">
					</div>
					<br>
					<div class="input-group">
						<span class="input-group-addon">确认新密码</span>
						<input ng-model="update.newpwd" type="password" class="form-control" placeholder="请再次输入新密码">
					</div>
					<br>
					<button class="btn btn-primary" ng-click="updatepwd()"> 确认修改</button>
				</div>
			</div>

		</div>
	</div>
</div>

<style>
	.user-left {
		font-size: 16px;
		line-height: 30px;
		color: #003147;
	}
	td a{
		color: #03a9f4;
		font-weight: bold;
	}
</style>