<script type="text/javascript" src="lib/app/all.js"></script>

<!--公告 -->

<div id="gy_guide_particulars_xzk">
	<div class="px1000">
		<div class="gy_guide_index_xzk_header" style="margin:20px 0;font-size:14px;">
			<img src="images/gy_guide_index_xzk_picx.png" />
			<span><a href="">首页</a></span> >
			<span><a href="">关于我们</a></span> >
			<span><a href="">产品详情</a></span>
		</div>
	</div>
	<div class="px1000">
		<div class="gy_guide_particulars_information">
			<p class="gy_guide_particulars_information_header">产品信息</p>
			<div class="gy_guide_particulars_information_main clearfix">
				<div class="particulars_information_l fl">
					<div class="particulars_information_up">产品名称：
						<input type="text" maxlength="" value="陆家嘴比特币套利基金">
					</div>
					<div class="particulars_information_down">产品所在地：
						<input type="text" maxlength="" value="上海陆家嘴">
					</div>
				</div>
				<div class="particulars_information_r fl">
					<div class="particulars_information_up">产品公司：
						<input type="text" maxlength="" value="意零（上海）金融信息服务有限公司">
					</div>
					<div class="particulars_information_down">产品描述：
						<input type="text" maxlength="" value="配资   OTC 搬砖">
					</div>
				</div>
			</div>
		</div>
		
		<div class="gy_guide_particulars_information">
			<p class="gy_guide_particulars_information_header">产品介绍</p>
			<div class="gy_guide_particulars_information_main clearfix">
				<div style="border-top:1px solid #E6E6E6;" class="fl particulars_information_footer">
					<div>
						<p>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;陆家嘴比特币套利基金是中国最大的一家比特币套利机构，我们的小伙伴们由来自谷歌，火币网，中国人民银行，阿里巴巴等数字货币前沿机构的青年骏杰组成，平均年龄29.5岁。 
						</p><br>
						<p>
							 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 陆家嘴比特币套利基金一直秉承为用户“币赚每一天”的企业理念，为各位币友提供稳定高额收益的搬砖套利服务。 
						</p><br>
						<p>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;在2017年，我们陆家嘴超级比特币团队再接再厉，利用“超级比特币搬砖AI”在比特币行业的超强用户覆盖率和各项业务占用率的优势，在短短几天之内就拿下了单日交易量过300万的可喜成绩，在良好的收益和市场前景的情况下，我们并没有忘记我们的用户，经过团队研究决定将部分搬砖套利的市场份额打包成理财产品，让广大用户一起受益，“陆家嘴比特币套利基金”理财产品因此应运而生。 
						</p><br>
						<p>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;陆家嘴比特币套利基金通过搬砖，对冲，OTC等不同业务的合理配置，并结合长线囤币的配置对冲风险，确保本产品年化收益率在20% 。
						</p><br>
						<p>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;“陆家嘴比特币套利基金”具有高收益 、发展快、可快速变现等诸多优点，预期年化收益率20%。
						</p>

					</div>
				</div>
			</div>
		</div>
		
		<div class="gy_guide_particulars_information">
			<p class="gy_guide_particulars_information_header">比特币搬砖</p>
			<div class="gy_guide_particulars_information_main clearfix">
				<div style="border-top:1px solid #E6E6E6;" class="fl particulars_information_footer">
					<div>
						<p>
							比特币跨境搬砖是指利用国内外交易所之间，或者两家国外的比特币交易所之间的价差，通过我们自己开发的自动套利机器人进行的无风险低买高卖套利。
						</p>
					</div>
				</div>
			</div>
		</div>
		
		<div class="gy_guide_particulars_information">
			<p class="gy_guide_particulars_information_header">比特币OTC</p>
			<div class="gy_guide_particulars_information_main clearfix">
				<div style="border-top:1px solid #E6E6E6;" class="fl particulars_information_footer">
					<div>
						<p>
							比特币OTC业务是指比特币不通过交易所进行的交易，简单的说就是没有第三方撮合的交易，因为自2月份中国央行禁止提比特币以来，中国市场所有的现货比特币都是通过OTC方式交易的。
						</p>
					</div>
				</div>
			</div>
		</div>		

		<div class="gy_guide_particulars_information">
			<p class="gy_guide_particulars_information_header">场外配资</p>
			<div class="gy_guide_particulars_information_main clearfix">
				<div style="border-top:1px solid #E6E6E6;" class="fl particulars_information_footer">
					<div>
						<p>
							场外配资也是因为中国央行对比特币交易所的限制所致，通过私下协议，借钱给在火币网，OKCOIN等平台炒币的朋友，收取一定的利息，简单说就是就是比特币版本的融资融券。
						</p>
					</div>
				</div>
			</div>
		</div>	

	</div>
	<style>
		P{
		    font-size: 16px;
		    color: #000;
		}
	</style>