<script type="text/javascript" src="lib/app/all.js"></script>

<br><br>
<div id="form_main" class="px1000 clearfix">
	<div id="login1" class="left_form" >
		<!-- <iframe src="" frameborder="0"> -->
			<table class="table table-bordered">
				<caption>订单处理中.........</caption>
				<thead>
					
				</thead>
				<tbody>
					<tr>
						<td>若支付成功后，可在<a href="#/me">我的账号-我的订单</a>进行查看</td>
					</tr>
				</tbody>
			</table>
			<br>
			<form class="bs-example bs-example-form" role="form">
				<br><br>
				<p style="text-align: right;">
					<button id="register" class="btn btn-primary" 
						ng-click="queryResult()"
						style="width:200px;"
						data-loading-text="请稍等..." 
		   				type="button"> 查询支付结果
		   			</button>
				</p>
			</form>
		<!-- </iframe> -->
	</div>
</div>
<style>
	a{
		color: #009DDE;
	}
	#form_main{
		padding-left: 20%;
	}
	.left_form {
	    border: 1px solid #ddd;
	    padding: 40px;
	    width: 500px;
	}
	.input-group-addon {
	    font-size: 16px;
	    color: #f9f9f9;
	    background-color: #8BC34A;
	}
	.table-bordered>tbody>tr>td{
		font-weight: bold;
		font-size: 15px;;
	}
	.btn-primary {
	    background-color: #FF9800;
	    border-color: #FFC107;
	}
	.form-control{
		font-size: 17px;
	}		
</style>