<script type="text/javascript" src="lib/app/all.js"></script>
<!-- 首页 安全保障 -->
	
	<div id="gy_guide_safety_xzk">
		<div class="px1000">
			<div class="gy_guide_index_xzk_header">
				<img src="images/gy_guide_index_xzk_picx.png"/>
				<span><a href="">首页</a></span>
				>
				<span><a href="">安全保障</a></span>
			</div>
		</div>
		<div class="gy_guide_safety_xzk_header">
			<div class="px1000 clearfix gy_guide_safety_font_pic">
				<div class="fl gy_guide_safety_font_pic1">
					<p>
						<b style="font-size:61.49px;color:#FFFFFF;">安全保障</b>
						<img src="images/gy_guide_safety_xzk_header_xiaosan.png">
					</p>
					<p style="font-size:21.39px;color:#FFFFFF;">最安全的网上理财投资体验</p>
				</div>
				<div class="fl gy_guide_safety_font_pic2">
					<img src="images/gy_guide_safety_xzk_header_mms.png">
				</div>
			</div>
		</div>
	</div>


	<div class="gy_guide_safety_bz_one">
		<div class="px1000">
			<div class="gy_guide_safety_bz_one_up">
				P2G平台5重安全保障
			</div>
			<div class="gy_guide_safety_bz_one_down clearfix">
				<div class="fl gy_guide_safety_bz_one_down_pic">
					<img src="images/gy_guide_safety_bz_one_down1.png">
					<p>政府监督保障（银监会）</p>
				</div>
				<div class="fl gy_guide_safety_bz_one_down_pic">
					<img src="images/gy_guide_safety_bz_one_down2.png">
					<p>第三方资金托管</p>
				</div>
				<div class="fl gy_guide_safety_bz_one_down_pic">
					<img src="images/gy_guide_safety_bz_one_down3.png">
					<p>客户隐私保障</p>
				</div>
				<div class="fl gy_guide_safety_bz_one_down_pic">
					<img src="images/gy_guide_safety_bz_one_down4.png">
					<p>平台数据保障</p>
				</div>
				<div class="fl gy_guide_safety_bz_one_down_pic">
					<img src="images/gy_guide_safety_bz_one_down5.png">
					<p>法律专业咨询保障</p>
				</div>
			</div>
		</div>
	</div>

	<div class="gy_guide_safety_bz_two">
		<div class="px1000 clearfix gy_guide_safety_bz_twoas">
			<div class="gy_guide_safety_bz_two_left fl">
				<p  style="font-size:22px;color:#29A7E1;">“PPP信投”产品8重安全保障措施：</p>
				<div class="gy_guide_safety_bz_two_lmain">
					<span class="fl">
						<img src="images/gy_guide_safety_bz_ttf_list.png">PPP项目的合法性、审批、价格、土地、税收、金融等政策的支持保障
					</span>
					<span class="fl">
						<img src="images/gy_guide_safety_bz_ttf_list.png">开发性、政策性金融的机构支持保障
					</span>
					<span class="fl">
						<img src="images/gy_guide_safety_bz_ttf_list.png">投资运营商与政府签订PPP项目合同对PPP项目全生命周期权利、义务约定<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;的保障
					</span>
					<span class="fl">
						<img src="images/gy_guide_safety_bz_ttf_list.png">政府对PPP项目全生命周期的监督保障
					</span>
					<span class="fl">
						<img src="images/gy_guide_safety_bz_ttf_list.png">政府付费、政府可行性缺口补助、第三方付费的收益性保障
					</span>
					<span class="fl">
						<img src="images/gy_guide_safety_bz_ttf_list.png">土地及其它资源与收费权、排污权、特许经营权、购买服务协议预期收益”<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;质押的政府增信保障
					</span>
					<span class="fl">
						<img src="images/gy_guide_safety_bz_ttf_list.png">项目公司资产和股权抵押、质押的保障
					</span>
					<span class="fl">
						<img src="images/gy_guide_safety_bz_ttf_list.png">项目公司关联方的连带担保保障
					</span>
				</div>
			</div>
			<div class="gy_guide_safety_bz_two_right fl">
				<img src="images/gy_guide_safety_bz_two_right_pic.png">
			</div>
		</div>
	</div>

	<div class="gy_guide_safety_bz_two">
		<div class="px1000 clearfix gy_guide_safety_bz_twoas">
			<div class="gy_guide_safety_bz_two_left fr" id="gy_guide_safety_bz_two_left_font1">
				<p  style="font-size:22px;color:#29A7E1;">“政府（存量）债”5重安全保障措施：</p>
				<div class="gy_guide_safety_bz_two_lmain">
					<span class="fl">
						<img src="images/gy_guide_safety_bz_ttf_list.png">
						政策性保障，即符合《国务院关于加强地方政府性债务管理的意见》（国发【<br>2014】43号）、《国务院关于深化预算管理制度改革的决定》（国发【2014<br>】45号、《国务院办公厅转发财政部、人民银行、银监会关于妥善解决地方<br>政府融资平台公司在建项目后续融资问题意见的通知》；国办发【2015】40号<br>）等政策规定的保障
					</span>
					<span class="fl">
						<img src="images/gy_guide_safety_bz_ttf_list.png">地方政府支付性的法律保障
					</span>
					<span class="fl">
						<img src="images/gy_guide_safety_bz_ttf_list.png">地方政府财政部门的保函保障
					</span>
					<span class="fl">
						<img src="images/gy_guide_safety_bz_ttf_list.png">中央与各级地方政府债务分别承担性的保障
					</span>
					<span class="fl">
						<img src="images/gy_guide_safety_bz_ttf_list.png">平台公司与地方政府达成的存量债承销协议的保障
					</span>
				
				</div>
			</div>
			<div class="gy_guide_safety_bz_two_right fl" id="gy_guide_safety_bz_two_right_pic1">
				<img src="images/gy_guide_safety_bz_two_right_pic1.png">
			</div>
		</div>
	</div>
	

	<div class="gy_guide_safety_bz_two">
		<div class="px1000 clearfix gy_guide_safety_bz_twoas">
			<div class="gy_guide_safety_bz_two_left fl">
				<p  style="font-size:22px;color:#29A7E1;">“企业债类”9重安全保障措施：</p>
				<div class="gy_guide_safety_bz_two_lmain">
					<span class="fl">
						<img src="images/gy_guide_safety_bz_ttf_list.png">PPP项目的合法性、审批、价格、土地、税收、金融等政策的支持保障
					</span>
					<span class="fl">
						<img src="images/gy_guide_safety_bz_ttf_list.png">开发性、政策性金融的机构支持保障
					</span>
					<span class="fl">
						<img src="images/gy_guide_safety_bz_ttf_list.png">投资运营商与政府签订PPP项目合同对PPP项目全生命周期权利、义务约定<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;的保障
					</span>
					<span class="fl">
						<img src="images/gy_guide_safety_bz_ttf_list.png">政府对PPP项目全生命周期的监督保障
					</span>
					<span class="fl">
						<img src="images/gy_guide_safety_bz_ttf_list.png">政府付费、政府可行性缺口补助、第三方付费的收益性保障
					</span>
					<span class="fl">
						<img src="images/gy_guide_safety_bz_ttf_list.png">土地及其它资源与收费权、排污权、特许经营权、购买服务协议预期收益”<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;质押的政府增信保障
					</span>
					<span class="fl">
						<img src="images/gy_guide_safety_bz_ttf_list.png">项目公司资产和股权抵押、质押的保障
					</span>
					<span class="fl">
						<img src="images/gy_guide_safety_bz_ttf_list.png">项目公司关联方的连带担保保障
					</span>
					<span class="fl">
						<img src="images/gy_guide_safety_bz_ttf_list.png">项目公司企业征信提供的保障
					</span>
				</div>
			</div>
			<div class="gy_guide_safety_bz_two_right fl">
				<img src="images/gy_guide_safety_bz_two_right_pic2.png">
			</div>
		</div>
	</div>
	